#openspace-status-image{
	width: 16px;
	height: 16px;
	margin-right: 5px;
}

#spaces-list {
	-moz-appearance: none;
	background-color: #eeeeee;
	border:1px #888888 solid;
	color:#444444;
/*
scrollbar-face-color: #FF8450;
scrollbar-shadow-color: #000000;
scrollbar-highlight-color: #666699;
scrollbar-3dlight-color: #FBF5C3;
scrollbar-darkshadow-color: #7F7F7F;
scrollbar-track-color: #FFD2C3;
scrollbar-arrow-color: #FFFFFF;
*/
/*
-ms-scrollbar-arrow-color: #ff0000;
*/
}

#thepanel{
	/* opacity usable for a fade out effect? */
	/*opacity: 0.3;*/ /* The panel is not transparent but becomes darker (to black) the lower this number, a bug? */
	/*-moz-appearance: none;*/
}

#refresh-interval {
	-moz-appearance: none;
	/*
	background-color: #eeeeee;
	border-top:50px #888888 solid;	
	border-top-style: solid;
	*/
	/*outline: none;*/
	/*border-top-style: none;*/
	color:#444444;
	width: 50px;
}

.popup-notification-icon[popupid="OpenSpace-infopopup"] {
  list-style-image: url("chrome://openspace/skin/steve.png");
  width: 46px;
  height: 100px;
  margin-left: -12px;
  margin-bottom: -10px;
}

.popup-notification[popupid="OpenSpace-infopopup"] {
  width: 100px;
}

label {
	color: #444444;
}

#add-hackerspace {
	font-size: 8pt;
	cursor: pointer;
}

#add-hackerspace:hover {
	color: #000000;
}

#add-hackerspace-submit, #space-url-input{
	display: none;
}